<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/animation_go.css'>
    <script src="scripts/animation_go.js"></script>
</head>

<body>

    <body onLoad="setTimeout('delay()', 4500)">
        <img src="images/back.jpg" class="img">
        <div class="show-numbers">
            <!-- the number -->
            <div class="big-outer animate-big-left-to-right">3</div>
            <!-- the word go -->
            <div class=" txt--gradient-blue small-fill animate-small-left-to-right"></div>
        </div>
    </body>

</html>